.board{
        display: flex;
        height: 95%;
}
.boardContainer{
        display             : flex;
        background-color    : #d9dcdd;
        flex                : 1;
}
.boardContainer > * {
        padding: 20px;
}
.addStackContainer {
        
}
.addStack{
        border-radius   : 20px;
        background      : white;
        padding         : 15px;
        cursor          : pointer;
        color           : var(--primary_color);
        font-weight     : 500;
}


/* boardListing */
.board_list_container{
        height: inherit;
        background    : white;
        border-radius: 10px;
}
.board_list_container > * {
        padding: 15px;
}

.board_list {
        padding       : 20px;
        flex          : 1;
        background    : #ececec;
}
.board_item {
        padding         : 10px;
        margin          : 3px;
        border-radius   : 7px;
        background      : #f0f8ff;
}
.board_item:hover {
        background    : #e0f0ff;
        box-shadow    : 0px 0px 7px 1px #949494;
}

.create_board{
        color: var(--primary_color);
}